.content {
    font-family: Bahnschrift, sans-serif;
    font-size: x-large;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100vw;
    margin: 0 auto;
    padding: 10px 0;
    gap: 10px
}

span {
    margin-top: 5px;
    width: fit-content;
}